/*@font-face {
	font-family:"CRU-pokawin-Alize pencil";
	src:url("CRU-pokawin-Alize_pencil-regular.eot?") format("eot"),url("CRU-pokawin-Alize_pencil-regular.woff") format("woff"),url("CRU-pokawin-Alize_pencil-regular.ttf") format("truetype"),url("CRU-pokawin-Alize_pencil-regular.svg#CRU-pokawin-Alizepencil") format("svg");
	font-weight:normal;
	font-style:normal;
}*/

body {
	background-image: url('/assets/yarn2.jpg');
	/*background-repeat: no-repeat;*/
	/*background-position: right top;*/
    /*background-attachment: fixed;*/
	background-size: 100%;
}

.video {
  
}
